<div class="window">
    <div class="form">
        <div class="closeArea">
            <button class="close" aria-label="Close" (click)="closeWindow()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="innerForm body">
        <form id="register-form" role="form" [formGroup]="vitalForm">
            <div class="form-group">
                <input disabled="true" type="text" name="organization" id="organization" tabindex="1" class="form-control" placeholder="Organization ID" formControlName="organizationId">
            </div>
            <div class="form-group">
                <input disabled="true" type="text" name="business" id="business" tabindex="1" class="form-control" placeholder="Business Unit ID" formControlName="businessUnitId">
            </div>
            <div class="form-group">
                <input disabled="true" type="text" name="device" id="device" tabindex="1" class="form-control" placeholder="Device ID" formControlName="deviceId">
            </div>
            <div class="form-group">
                <input type="number" readonly name="heartrate" id="heartrate" tabindex="2" class="form-control" placeholder="Heart Rate" formControlName="heartRate">
            </div>
            <div class="form-group">
                <input type="number" readonly name="temperature" id="temperature" tabindex="3" class="form-control" placeholder="Temperature" formControlName="temperature">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="OK" (click)="closeWindow()">
                    </div>
                </div>
            </div>
            <div class="alert alert-success" *ngIf="submitSuccess" role="alert">
                Your entry has been successfully added!
              </div>
        </form>
    </div>
    </div>
</div>