<form id="register-form" role="form" [formGroup]="registerForm">
    <div class="form-group">
        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" formControlName="username" [ngClass]="{'is-invalid':this.registerForm.controls['username'].errors && !this.registerForm.controls['username'].pristine}">
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':this.registerForm.controls['password'].errors && !this.registerForm.controls['password'].pristine}">
    </div>
    <div class="form-group">
        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" formControlName="cpassword" [ngClass]="{'is-invalid':this.registerForm.controls['cpassword'].errors && !this.registerForm.controls['cpassword'].pristine}">
    </div>
    <div *ngIf="registerForm.hasError('notSame')">
        <span style="color:red">Password does not match</span>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" (click)="register()">
            </div>
        </div>
    </div>
    <div class="alert alert-success" *ngIf="this.submitSuccess" role="alert">
        Account successfully created! 
      </div>
</form>