<div class="window">
    <div class="logo-banner">
    </div>
    <div class="map">
        <iframe class="map" frameborder="0" 
        scrolling="no" marginheight="0" 
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=71-75%20Shelton%20Street+(Kraken%20Global)&amp;t=&amp;z=19&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    </div>
    <article class="details">
        <div class="detail-box address">
            <h3>Address</h3>
            <section>
                71-75 Shelton Street
                Covent Garden
                London WC2H 9JQ
            </section>
        </div>
        <div class="detail-box contact">
            <h3>Contact</h3>
            <section>
                +44 (0) 2080 888886
                contact@kraken.global
                www.kraken.global
            </section>
        </div>
    </article>
</div>
